.header{
    height: 5.9rem;
    padding: 1rem 3.2rem;
    position: fixed;
    background-color: black;
}

.header input {
    padding: 1.4rem 0;
    padding-left: 5.4rem;
    background-color: #202327;
    width: 34rem;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 100px;
}

.search {
    position: absolute;
    top: 58%;
    left: 5.4rem;
    transform: translateY(-50%);
}

.search .icon {
    color: #71767b;
    font-size: 2.4rem;
}

.header input::placeholder {
    color: #71767b;
    /* padding-left: 1rem; */
    font-size: 1.6rem;
}