.input{
    color: aliceblue;
}

.input-container{
    border-bottom: 1px solid #374151;
    display: flex;
    gap: 10px;
    overflow-y: scroll;
}
.input-pic{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin: 1rem;
}
.text-container{
    width: 100%;


}
/* .inner-container{
        border-bottom: 1px solid #374151;
} */
.text-area{
    margin-top: 1rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: #d9d9d9;
    font-size: x-large;
    letter-spacing: 0.04rem;
    width: 99%;
    min-height: 5rem;
}
::-webkit-scrollbar{
    display: none;
}
.close-icon-container{
    position: relative;
}
.close-icon{
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #15181c;
    opacity: 0.75;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.4rem;
    left: 0.4rem;
    cursor: pointer;
}
.close-icon:hover{
    background-color: #272c26;
}
.selected-file{
    border-radius: 1.6rem;
    max-height: 32rem;
    object-fit: contain;
}
.middle-icons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
 
}
.middle-icons{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.photo-icon-container{
    color: #1d9bf0;
    border-radius: 50%;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: ease-out;
}
.photo-icon-container:hover{
    background-color: #1c1f23;
}

.photo-icon-input{
    display: none;
}
.emoji-icon-container{
    color: #1d9bf0;
    border-radius: 50%;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: ease-out;
}
.picker{
    position: absolute;
    margin-top: 47.5rem;
    margin-left: -4rem;
    max-width: 32rem;
    border-radius: 2rem;
}
.tweet-btn{
    background-color: #1d9bf0;
    color: #fff;
    margin-bottom: 0.7rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
}
.tweet-btn:hover{
    background-color: #1a8cd8;
}


